 /* ----REGOLE GENERALI---- */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.row h3,.row p {

  margin-top: 30px;
}

.row img {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

section {

  background-color: lightgrey;
}
