 /* ----REGOLE GENERALI---- */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin:10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

section {
  background-color: #f9f9f9;
  margin-top: 100px;
}
 
.row h3,.row p {
  margin-top: 30px;
  font-size: 18px;
}

.row img {
  max-height: 200px;
  max-width: 100%;
}

.row.threeimg img {
  height: 200px;
}

/* REGOLE IMMAGINI SECONDA SECTION */

.icon-padding img {
  height: 250px;
  border-radius: 50%;
  padding: 30px;
  background-color:#428bca;
  margin-top: 40px;
}

.icon-padding hr {
 margin-top: 10px;
}

/* REGOLE MEDIA EXTRA VERSIONE TABLET */

@media all and (min-width: 769px) and (max-width: 992px) {
  .row div {
    margin-bottom : 25px;
  }
}

/* REGOLE MEDIA EXTRA VERSIONE SMARTPHONE */

@media all and (max-width: 768px) {
   .row div {
     margin-bottom: 25px;
   }


}
